<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- Parametros generales del sistema -->
    <add key="Main.gCOD_APLICACION" value="0" />
    <!--Codigo de aplicación asignado por el sistema de seguridad del Centro de Cómputo-->
    <add key="Main.gCOD_SEDE" value="CA" />
    <!-- Sede por defecto -->
    <add key="Main.gTituloPagina" value="Instituto Tecnológico de Costa Rica" />
    <!-- Estos valores son asociadoa a variablea estáticas en el evento Application_OnStart -->
    <add key="Main.gSubTituloPagina" value="Unidad Deportiva" />
    <!-- para facilitar su uso en el código fuente de toda la aplicación. -->
    <!-- URIs para hacer referencias a servicios de uso común, hay muchos otros servicios disponibles que no se incluyen, dependiendo de lo que la aplicación requiera se le indicarán -->
    <add key="wsSeguridad.seguridad" value="http://tec-apps.itcr.ac.cr/wsseguridad/seguridad.asmx" />
    <add key="wsEmail.email" value="http://tec-apps/wsemail/email.asmx" />
    <!-- Conectividad con SQL Server -->
    <add key="Main.StringConexion" value="data source=25.159.142.48;initial catalog=UDSystem;UID=sa;PWD=12345" />
    <!-- variantes de conectividad con SQL Server para uso en desarrollo (aut. SQL) y produccion (aut. windows), no se usan, están como ejemplo -->
    <add key="Main.StringConexionDesarrollo" value="data source=25.159.142.48;initial catalog=UDSystem;UID=sa;PWD=12345" />
    <add key="Main.StringConexionProduccion" value="data source=25.159.142.48;initial catalog=UDSystem;UID=sa;PWD=12345" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>